<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="viewer/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="viewer/crimson.css" rel="stylesheet"> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="viewer/index.css">
    
    <title>EuBIC Guidelines for Reproducible MS-based Experiments</title>
  </head>
  <body>
    <div id="guidelines">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark" id="navigation">
        <span class="navbar-brand mb-0 h1">EuBIC Guidelines</span>
        
        <button class="navbar-toggler" type="button" v-on:click="show_menu = !show_menu">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div v-bind:class="{collapse: !show_menu}" class="navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="#" v-on:click.prevent="show_introduction = true  ">Scope</a>
            <a class="nav-item nav-link" href="https://github.com/eubic/ReproducibleMSGuidelines/blob/master/CONTRIBUTING.md" target="_blank">Contribute on GitHub</a>
            <a class="nav-item nav-link" href="https://www.eubic-ms.org/" target="_blank">About EuBIC-MS</a>
            <div class="d-md-none">
              <a class="nav-item nav-link" href="https://github.com/eubic/ReproducibleMSGuidelines" target="_blank">
                <i style="color: #FFF;" class="fab fa-github fa-lg"></i>
              </a>
              <field-selector v-bind:fields="field_states" v-on:toggle-field="onToggleField"></field-selector>
              <field-selector v-bind:fields="categories" title="Shown categories" v-on:toggle-field="onToggleCategory"></field-selector>
            </div>  
          </div>
        </div>
        <div class="mr-sm-2 d-none d-md-block">
          <a href="https://github.com/eubic/ReproducibleMSGuidelines" target="_blank"><i style="color: #FFF;" class="fab fa-github fa-2x"></i></a>
        </div>
      </nav>

      <transition name="fade">
        <div class="modal" tabindex="-1" role="dialog" v-if="introduction" v-show="show_introduction" v-on:click.prevent="show_introduction = false">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Scope</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" v-on:click.prevent="show_introduction = false">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" v-html="marked(introduction)">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" v-on:click.prevent="show_introduction = false">Close</button>
              </div>
            </div>
          </div>
        </div>
      </transition>
    
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3 col-lg-2 hidden-print">
            <div class="side-menu">
              <field-selector class="d-none d-md-block" v-bind:fields="field_states" v-on:toggle-field="onToggleField"></field-selector>
              <field-selector class="d-none d-md-block" v-bind:fields="categories" title="Shown categories" v-on:toggle-field="onToggleCategory"></field-selector>
              <div class="field-selector d-none d-md-block">
                <h1>Actions</h1>
                <span class="badge badge-primary button" v-on:click="expandAll()" title="Expand all sections, descriptions, and examples.">Expand all</span>
              </div>
            </div>
          </div>
          <div class="col-md-9 col-lg-7 guidelines-view">
            <h1>EuBIC Guidelines for Reproducible MS-based Experiments</h1>
            <span v-for="(author, index) in authors"> 
              <span v-if="index == authors.length -1">and</span>
              <span class="author-name">{{ author.name }}</span>
              <a v-bind:href="author.orcid" v-if="author.orcid" class="orcid-icon" target="_blank"></a>
              <span v-if="index < authors.length - 2" class="comma">,</span>
            </span>   

            <guidelines-section v-for="section in visible_sections" 
            v-bind:name="section.name" 
            v-bind:description="section.description"
            v-bind:example="section.example"
            v-bind:items="section.items"
            v-bind:id="section.id"
            v-bind:eventhub="vm_guidelines">
            </guidelines-section>
          </div>
          <div class="d-none d-lg-block col-lg-3 hidden-print">
            <div class="toc">
              <h2>Table of Contents</h2>
              <ol>
                <li v-for="section in sections">
                  <a v-bind:href="'#' + section.id">{{ section.name }}</a>
                </li>
              </ol>
            </div>
          </div>
        </div>
        
      </div>
    </div>

    <script src="viewer/vue.js"></script>
    <script src="viewer/marked_0.3.6.js"></script>
    <script src="viewer/axios.min.js"></script>
    <script src="viewer/index.js"></script>
  </body>
</html>
