@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 400;
  src: local('Crimson Text Regular'), local('CrimsonText-Regular'), url(wlp2gwHKFkZgtmSR3NB0oRJfbwhW.ttf) format('truetype');
}
