.guidelines-section h1 {
    margin-top: 0.5em;
    padding-bottom: 0.1em;
    font-size: 2em;
}

.border-bottom {
    border-bottom: 1px solid #6c757d;
}

.guidelines-section h1 i {
    cursor: pointer;
}

.guidelines-view {
    font-family: 'Crimson Text', serif;
    margin-top: 2em;
}

.bronze {
    color: #FFF;
    background-color: #8C7853;
}

.silver {
    color: #333;
    background-color: #C0C0C0;
}

.gold {
    color: #222;
    background-color: #FFD700;
}

.guideline-item-description {
    margin: 1em;
    padding: 1em;
    border: 1px solid #6c757d;
}

.guideline-item {
    margin-top: 1em;    
}

.guideline-item h2 {
    font-size: 1.2em;
}

.guideline-item-scope {
    margin-bottom: 0.5em;
    font-size: 1.2em;
}

.guideline-item-scope span {
    margin-right: 0.3em;
}

.guideline-item h3 {
    padding-bottom: 0.1em;
}

.guidelines-item-feedback {
    color: #333;
}

.guidelines-item-github_link {
    color: #333;
}

.modal-dialog {
    max-width: 900px;
}

.modal-body {
    max-height: 60vh;
    overflow: auto;
}

.modal {
    display: block;
    background-color: rgba(70, 70, 70, 0.5);
}

.side-menu {
    position: fixed;
}

.side-menu .field-selector {
    margin-top: 2em;
    font-size: 1.2em;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.side-menu .field-selector h1 {
    font-size: 0.8em;
    font-weight: bold;
}

.navbar-collapse .field-selector {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding-top: 0.5em;
    margin-bottom: 0.5em;
}

.navbar-collapse .field-selector h1 {
    font-size: 1em;
    color: rgba(255, 255, 255, 0.5);
}

.navbar-collapse .field-selector div {
    display: inline-block;
}

.navbar-collapse .field-selector .badge-light {
    color: rgba(255, 255, 255, 0.5);
    background-color: rgb(52, 58, 64);;
}

.field-selector div span {
    cursor: pointer;
    margin-left: 0.5em;
}

.comma {
    margin-right: -2px;
}

.orcid-icon {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAABnElEQVQ4y52UvUtCURjGf968lmQhFGXYEH3QUg0JhkPR4l5T0IUosMGxv6C1KdpahCZbGxscGiXBloIKo0ESEYpEM71+3NvgvXW0j3vp2c57zvPjPQ/nPWCheDrkiKdDDqtzjl/MQSAChAG/Uc4BCSCmBJKpP0HxdGgQOAY2LRo4BaJKIFn6BjIgCSDolPrQ9Caa3vwLlgLCJkwSNo6BIEBoYp8537ZVLEHD89WRkcmlWex3+WhqNeqtMrLk/nTWWxVA7wYuKYFkymksIuLO/FiEYjXDazXD6tQhJTWLLLmRezxkns+4zsfQdQ3B+wkK/9Z/Sc1yfrsFgFseYnnyAE1vcJM/QfSaGfmxoWrjhaunI2aG18WyvztsW6rUC/Q6vd/qJihnFzTuXeG5ciOWcgBmRglg9yejLLkZHVhEcrgY8SwwPbzGxcOeeCQhgmIi6LV6z5uaR20WKdYemR3ZQNMalNUs53c7vNcLIigGnS87jvVodOtUCSSV7rCjtJ+9XaUMT0fYGDMTpj2Qlp0gzFnH1UT95xuxlN2P7QOpwZChGlWkWQAAAABJRU5ErkJggg==");
    background-size: 14px 14px;
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: -2px;
}

.toc {
    margin-top: 2em;
    padding-left: 1em;
    border-left: 1px solid #333333;
    position: fixed;
}

.toc a {
    color: #333;
}

.toc a:hover {
    color: #000;
    text-decoration: none;
}

/**
 * ------------- Transitions -------------------
*/
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }